/* Menjaga body agar tidak ada margin dan padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Menyembunyikan scroll bar */
  background-color: #000; /* Warna latar belakang hitam */
}

/* Set canvas agar memenuhi layar */
#alx {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block; /* Menghapus margin default */
}
